In [1]:
from pathlib import Path
from vangja.datasets import load_stock_data, get_sp500_tickers_for_range

CT_PATH = Path("../data/sp500_constituents")
TICKERS_PATH = Path("../data/tickers")

In [2]:
tickers = get_sp500_tickers_for_range("2024-01-01", "2026-01-01", cache_path=CT_PATH)
len(tickers)

470

In [3]:
dfs = load_stock_data(
    tickers,
    split_date="2024-12-01",
    window_size=91,
    horizon_size=365,
    cache_path=TICKERS_PATH,
    interpolate=True,
)

$BF.B: possibly delisted; no price data found  (1d 1900-01-01 -> 2026-01-01) (Yahoo error = "1d data not available for startTime=-2208970800 and endTime=1767243600. Only 100 years worth of day granularity data are allowed to be fetched per request.")
$BRK.B: possibly delisted; no timezone found

2 Failed downloads:
['BF.B']: possibly delisted; no price data found  (1d 1900-01-01 -> 2026-01-01) (Yahoo error = "1d data not available for startTime=-2208970800 and endTime=1767243600. Only 100 years worth of day granularity data are allowed to be fetched per request.")
['BRK.B']: possibly delisted; no timezone found
No data returned from yfinance

In [4]:
dfs[0]

              ds series           y
0     2024-09-02      A  139.340306
1     2024-09-03      A  138.879989
2     2024-09-04      A  136.601254
3     2024-09-05      A  136.603695
4     2024-09-06      A  136.467762
...          ...    ...         ...
42583 2024-11-27    ZTS  173.513422
42584 2024-11-28    ZTS  173.384446
42585 2024-11-29    ZTS  173.255471
42586 2024-11-30    ZTS  173.091688
42587 2024-12-01    ZTS  172.927906

[42588 rows x 3 columns]

In [7]:
dfs[1]

               ds series           y
0      2024-12-02      A  137.271702
1      2024-12-03      A  137.237042
2      2024-12-04      A  138.502000
3      2024-12-05      A  137.388060
4      2024-12-06      A  138.823817
...           ...    ...         ...
170815 2025-11-27    ZTS  127.554089
170816 2025-11-28    ZTS  127.844101
170817 2025-11-29    ZTS  127.730419
170818 2025-11-30    ZTS  127.616738
170819 2025-12-01    ZTS  127.503056

[170820 rows x 3 columns]

In [5]:
len(dfs[0]) / (len(tickers) - 2)

91.0

In [6]:
len(dfs[1]) / (len(tickers) - 2)

365.0